<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/styles.css">
  <title>Document</title>
</head>


<body>
  <header>
    <nav>
        <div class="logo">
            <div>
                <a href="/"><h2>Crochet<b id="fw">Gonbel</b></h2></a>
            </div>
        </div>
        <div class="lista">
            <a href="/">inicio</a>

            <% if (conectado==false) { %>
            <a href="/login">Iniciar sesión</a>
            <% } %>

            <% if (conectado) { %>
               <a href=""> <%= nombre %>  </a>

               <a href="/logout"> cerrar sesion  </a>
            <% } %>
            <a href="/coleccion">Colección</a>
            <a href="">Contactanos</a>
        </div>
        <div class="carrito">
            <a href="/carrito"><img id="carrito"src="https://res.cloudinary.com/crochet/image/upload/v1662378998/crochet/pngwing.com_ezam7q.png" alt=""></a>
            <a href="/productos">/ Productos</a>
        </div>
    </nav>
</header>
  <div class="todore">
    <section class="titulow">
      Nuestros productos
    </section>
    <div class="doslados">
    <section class="filtro">
      <div class="estilos">
        <div class="pgrande"><p>Filtrar por...</p></div>
        <hr>
        <div id="menu">
        <p><b id="rg">Estilo</b></p>
          <ul>
            <li><input type="radio" name="es" id="rojo"> Todos</li>
            <li><input type="radio" name="es" id="rojo"> Crop tops</li>
            <li><input type="radio" name="es" id="rojo"> Vestidos</li>
            <li><input type="radio" name="es" id="rojo"> Salidas de baño</li>
            <li><input type="radio" name="es" id="rojo"> Camisas</li>
        </ul>
      </div>
        </div>
        <hr>
        <div class="color">
          <p><b id="rg">Color</b></p>
          <ul>
            <li><input type="radio" name="col" id="rojo"> rojo</li>
            <li><input type="radio" name="col" id="verde"> verde</li>
            <li><input type="radio" name="col" id="azul"> azul</li>
            <li><input type="radio" name="col" id="morado"> morado</li>
            <li><input type="radio" name="col" id="negro"> negro</li>
            <li><input type="radio" name="col" id="blenco"> blanco</li>
          </ul>
        </div>
        <hr>
        <div class="tamaño">
          <p><b id="rg">Tamaño</b></p>
          <ul>
            <li><input type="radio" name="ta" id="tam"> grande</li>
            <li><input type="radio" name="ta" id="tam"> mediano</li>
            <li><input type="radio" name="ta" id="tam"> pequeño</li>
          </ul>
        </div>
        <hr>





    </section>
    <section class="compra">
    <% tt.forEach((producto)=> { %> 
    
      
            <div class="cuadro">
              <div class="titulo">
                <h3> <%= producto.nombre_producto %>  </h3>
              </div>
              <div class="imagen">
                  <img src="<%= producto.imagen %>" alt="">
              </div>
              <div class="precio">
                <p> <%= producto.precio %> </p>
                
                <form action="/comprar/<%= producto.id_producto %>">

                <button> comprar</button>

                 </form>

              </div>
            </div>
 
  <% })  %> 
</section>








  </div>
  </div>
<%  if(conectado==false) {%>
  <section class="registrocj">
    <div class="cajaregistro">
        <p>Registrate para recibir notificaciones</p>
        <a href="/login"><button class="caja">Registrarse</button></a>
    </div>
</section>
<% } %>
  <footer>
    <a href="footer"></a>
    <hr>
    <div class="contenidof">
        <div class="comparte">
            <h4>Siguenos en</h4>
            <p>Facebook / Instagram</p>
        </div>
        <div class="copy">
            &copy By Brallan/Kevin/Yeison. producto de CreochetGonbel.com
        </div>
    </div>
</footer>
</body>

</html>